@font-face {
  font-family: 'AetherMonoA';
  src: url('AetherMonoA.woff2') format('woff2'),
       url('AetherMonoA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}