@import "./settings/variables"; 
@import "./settings/buttons";
// @import "./settings/reset";
@import "./settings/bootstrap"; 
@import "./settings/typography";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body *:not(h1, h2, h3, h4, h5, h6) {
    font-family: $font-family-base;
}
html {
    padding-bottom: 0 !important;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.mb-2 {
    margin-bottom: 4px;
}

.justify-content-start   { justify-content: flex-start !important; }
.justify-content-end     { justify-content: flex-end !important; }
.justify-content-center  { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }

.align-items-start    { align-items: flex-start !important; }
.align-items-end      { align-items: flex-end !important; }
.align-items-center   { align-items: center !important; }

.c-text {
    color: $c-text !important;
} 

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}

.goverlay {
    display: block !important;
}
.glightbox-clean .gclose, .glightbox-clean .gnext, .glightbox-clean .gprev {
    background-color: $c-orange !important;
    transition: 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}
.plyr__control.plyr__control--overlaid {
    background-color: $c-orange !important;
}
.product-form__submit {
    cursor: pointer;
    border: none;
}
.recharge-container {
    h1 {
        font-size: 32px !important;
        @include media-breakpoint-down(lg) {
            font-size: 24px !important;
        }
    }
}
.rc-enter-code-header,
.rc-login--header-title {
    font-size: 21px !important;
    display: flex;
    justify-content: center;
    margin-left: 0 !important ;
}
div[data-rc-login-form-submit-btn-animation] {
    display: flex !important;
    align-items: center !important;
    position: relative !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.rc-login-form-button, .rc-enter-code-btn {
    height: 50px !important;
}

.rc-login-form-button {
    background-color: $c-orange !important;
    color: $c-text !important;
}
.kl-private-reset-css-Xuajs1 {
    overflow: hidden !important;
}
.kl-teaser-R3YXRP {
    display: none !important;
}
#rich-text-119715547.kl-private-reset-css-Xuajs1,
#rich-text-119715551.kl-private-reset-css-Xuajs1 {
    span {
        font-family: $font-family-headings !important;
        font-size: 40px !important;
    }
}
.deferred-media.media {
    video {
        object-fit: cover !important;
    }
}
.product__media-icon.motion-reduce {
    display: none !important;
}
.article-template__content.rte {
    h4 {
        text-transform: none !important;
    }
}
.article-template__back {
    display: none;
}