@use "./settings/foundation" as *;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body *:not(h1, h2, h3, h4, h5, h6) {
    font-family: $font-family-base;
}
html {
    padding-bottom: 0 !important;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.mb-2 {
    margin-bottom: 4px;
}
.ml-auto {
    margin-left: auto;
}
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.w-100 {
    width: 100% !important;
}
.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}
.justify-content-start {
    justify-content: flex-start !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}

.align-items-start {
    align-items: flex-start !important;
}
.align-items-end {
    align-items: flex-end !important;
}
.align-items-center {
    align-items: center !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.c-text {
    color: $c-text !important;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}

.goverlay {
    display: block !important;
}
.glightbox-clean .gclose,
.glightbox-clean .gnext,
.glightbox-clean .gprev {
    background-color: $c-orange !important;
    transition: 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}
.plyr__control.plyr__control--overlaid {
    background-color: $c-orange !important;
}
.product-form__submit {
    cursor: pointer;
    border: none;
}
.recharge-container {
    h1 {
        font-size: 32px !important;
        @include media-breakpoint-down(lg) {
            font-size: 24px !important;
        }
    }
}
.rc-enter-code-header,
.rc-login--header-title {
    font-size: 21px !important;
    display: flex;
    justify-content: center;
    margin-left: 0 !important ;
}
div[data-rc-login-form-submit-btn-animation] {
    display: flex !important;
    align-items: center !important;
    position: relative !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.rc-login-form-button,
.rc-enter-code-btn {
    height: 50px !important;
}

.rc-login-form-button {
    background-color: $c-orange !important;
    color: $c-text !important;
}
// .kl-private-reset-css-Xuajs1 {
//     overflow: hidden !important;
// }
.kl-teaser-R3YXRP {
    pointer-events: none !important;
    z-index: -100 !important;
    opacity: 0 !important;
}
#rich-text-119715547.kl-private-reset-css-Xuajs1,
#rich-text-119715551.kl-private-reset-css-Xuajs1,
#rich-text-139322625.kl-private-reset-css-Xuajs1 {
    span {
        font-family: $font-family-headings !important;
        font-size: 40px !important;
    }
}
.deferred-media.media {
    video {
        object-fit: cover !important;
    }
}
.product__media-icon.motion-reduce {
    display: none !important;
}
.article-template__content.rte {
    h4 {
        text-transform: none !important;
    }
}
.article-template__back {
    display: none;
}

.product-feature {
    &__title {
        color: #9f9e99;
    }
    &__icon {
        margin-right: 8px;
    }

    &__status {
        color: #26a244;
    }
    &__item {
        margin-top: 1.6rem;
    }
}
.product-form {
    &__total {
        margin-top: 10px;
        margin-bottom: 12px;
        border-top: 1px solid #e4e4e4;
        padding-top: 8px;
        &__small {
            color: #9f9e99;
            font-size: 12px;
        }
    }
}
