@use "./variables" as *;
@use "./_breakpoints.scss" as *;


.btn {
    display: flex;
    min-width: 329px;
    min-height: 62px;
    width: fit-content;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    @include media-breakpoint-down(md) {
        min-width: 242px;
        min-height: 58px;
        width: fit-content;
        font-size: 15px;
    }
    &:disabled {
        pointer-events: none;
        opacity: 0.7;
    }
    &__primary {
        color: $c-gray !important;
        background-color: $c-text !important;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $c-button-hover !important;
            color: $c-text !important;
        }
    }
    &__orange {
        color: $c-text !important;
        background-color: $c-orange !important;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $c-button-hover !important;
        }
    }
}
  