@import './variables';
@import "./bootstrap-media";

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: $font-family-headings !important;
}

h1, .h1 {
    font-size: 52.5px !important;
    font-weight: 400;
    line-height: normal;
    line-height: 100%;
    text-transform: uppercase;
    @media (max-width: 1400px) {
        font-size: 40px !important;
    }
    @include media-breakpoint-down(md) {
        font-size: 32px !important;
    }
}
  
h2, .h2 {
    font-size: 52.5px;
    font-weight: 400;
    line-height: normal;
    line-height: 100%; 
    text-transform: uppercase;
    @media (max-width: 1400px) {
        font-size: 40px;
    }
    @include media-breakpoint-down(md) {
        font-size: 32px;
    }
}
  
h3, .h3 {
    font-size: 42px;
    font-weight: 400;
    line-height: normal;
    line-height: 100%; 
    text-transform: uppercase;
    @media (max-width: 1400px) {
        font-size: 36px;
    }
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
}
h4, .h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    line-height: 120%;
    text-transform: uppercase;
    @media (max-width: 1400px) {
        font-size: 24px;
    }
    @include media-breakpoint-down(md) {
        font-size: 18px;
    }
}

p, span, li, .text-15px {
    font-size: 15px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 1400px) {
        font-size: 15px;
    }
    @include media-breakpoint-down(md) {
        font-size: 15px;
    }
  }
  .text-26px {
    font-size: 26px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 42px */
    @media (max-width: 1400px) {
        font-size: 24px !important;
    }
    @include media-breakpoint-down(md) {
        font-size: 20px !important;
    }
  }