:root {
    --transition-default: 300ms;
  }
  
    // Type
    $font-family-base: var(--font-body-family);
    $font-family-headings: var(--font-heading-family);

    // Colors
    $c-orange: rgb(var(--custom-color-primary));
    $c-text: rgb(var(--custom-color-text));
    $c-button-hover: rgb(var(--custom-color-button-hover));
    $c-gray: rgb(var(--custom-color-gray));
    $c-almost-white: rgb(var( --custom-color-background-accent));

    $c-light-grey: #D7DCE1;

    // Grid
    $sm: 0;
    $md: 576px;
    $lg: 750px;
    $xl: 990px;
    $xxl: 1200px;
