@import "../settings/variables";
@import "../settings/bootstrap-media";

// $c-orange: rgb(var(--custom-color-primary));
.template-404 {
    .bg-404 {
        background-color: $c-orange;
    }
}
.page-error {
    &__title {
        margin: 30px 0px 80px 0px;
        @include media-breakpoint-down(md) {
            margin: 30px 0px 73px 0px;
        }
        & h1 {
            margin: 0;
        }
    }
    &__top {
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 73px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        @include media-breakpoint-down(md) {
            gap: 10px;
        }
        .img-and-content__button {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            & a {
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }
    }    
    &__image {
        & img {
            @include media-breakpoint-down(md) {
                max-width: 102px;
                max-height: 184px;
            }
        }
    }   
}