@use "../settings/variables" as *;
@use "../settings/bootstrap-media" as *;

.template-our-history {
    .body-padding {
        padding: 0;
    }
    .banner {
        &__box {
            max-width: 1200px !important;
        }
        &__heading {
            color: $c-gray; 
        }
    }
}