@use "../settings/variables";
@use "../settings/bootstrap-media";


.template-production {
    .benefits__wrapper {
        padding-top: 0px;
        &-item {
            flex: 0 1 48%;
            .description {
                max-width: 100%;
                p {
                    margin-top: 6px;
                }
            }
        }
    }
}

.benefits {
    &__title {
        @include media-breakpoint-down(md) {
            max-width: 312px;
            margin: 0 auto;
        }
    }
    &__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding-top: 44px;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
        &-item {
            flex: 0 1 30%;
            flex-direction: column;
            .item-title {
                margin: 12px 0px;
            }
            .description {
                margin: 0;
                max-width: 380px;
                p {
                    margin-top: 6px;
                }
            }
            & h4 {
                margin: 0;
            }
            & a {
                color: $c-text;
                transition: all .3s;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}