@use "../settings/config" as *;

.custom-featured-product {
    &__title {
        display: none;
        justify-content: center;
        @include media-breakpoint-down(md) {
            display: flex;
        }
        h2 {
            text-align: center;
            max-width: 700px;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
    &__title-mobile {
        display: none;
        justify-content: center;
        @include media-breakpoint-down(md) {
            display: flex;
        }
        h2 {
            margin-top: 10px;
            text-align: center;
            max-width: 700px;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
    .product__title {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .product__media-wrapper {
        padding-left: 10px;
        position: relative;
        @media (max-width: 750px) {
            overflow: hidden;
            padding-left: 0;
        }
    }
    .product__info-wrapper {
        padding-left: 43px !important;
        padding-right: 50px !important;
        display: flex;
        @media (max-width: 1099px) {
            padding-left: 21px !important;
        }
        @include media-breakpoint-down(md) {
            padding: 0 15px !important;
        }
    }
    .product__info-container {
        width: 100%;
        max-width: 100% !important;
        @include media-breakpoint-down(md) {
            max-width: 100% !important;
        }
    }
    .product__media-list {
        li {
            margin: 0 !important;
        }
    }
    .product-form__submit {
        min-width: auto !important;
        @media (max-height: 820px) and (min-width: 751px) {
            min-height: 52px;
        }
    }
    .product__next-product-gallery {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 30px;
        cursor: pointer;
        @media (max-width: 750px) {
            top: 45%;
        }
    }
    .product__prev-product-gallery {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 30px;
        cursor: pointer;
        @media (max-width: 750px) {
            top: 45%;
        }
    }
    .product__gallery-pagination {
        @media (min-width: 992px) {
            display: none;
        }
        position: absolute;
        bottom: 50px;
        z-index: 2;
        display: flex;
        justify-content: center;
        width: 100%;
        .swiper-pagination-bullet {
            margin: 0 8px;
            width: 18px;
            min-width: 18px;
            height: 18px;
            background-color: #d8d8d8;
            opacity: 1;
            cursor: pointer;
            @media (max-width: 750px) {
                width: 12px;
                min-width: 12px;
                height: 12px;
                margin: 0 6px;
            }
        }
        .swiper-pagination-bullet-active {
            background-color: #f4f4f4;
        }
    }
    .custom-recharge {
        max-width: 100%;
        width: 100%;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
        label {
            display: flex;
            cursor: pointer;
            justify-content: space-between;
        }

        .text-26px {
            @media (max-height: 820px) and (min-width: 751px) {
                font-size: 21px !important;
            }
        }

        &__one-time,
        &__subscribe {
            background-color: #fff;
            position: relative;
            border-radius: 4px;
            @media (max-width: 1199px) {
                flex-direction: column;
            }
        }
        &__one-time {
            padding: 16px 16px 16px 55px;
            @media (max-width: 990px) {
                padding: 16px 8px 16px 40px;
            }
            .custom-recharge__price-wrapper {
                margin-top: 10px;
            }
        }
        &__subscribe {
            margin-bottom: 8px;
            padding: 24px 16px 16px 55px;
            @media (max-width: 990px) {
                padding: 32px 8px 16px 40px;
            }
            @media (max-width: 374px) {
                padding-top: 45px;
            }
        }
        &__subscribe-price,
        &__one-time-price {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            margin-left: 8px;
        }
        span {
            text-align: left;
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 8px;
            @media (max-width: 420px) {
                align-items: flex-start;
                width: 100%;
            }
            li {
                margin-bottom: 8px;
                display: flex;
                @include media-breakpoint-down(sm) {
                    font-size: 14px !important;
                }
                @media (max-width: 420px) {
                    width: 100%;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                svg {
                    margin-right: 8px;
                    min-width: 18px;
                    width: 18px;
                    height: 14px;
                }
            }
        }
        &__text-bottom {
            font-size: 11px !important;
            text-align: right !important;
        }
        &__text-opacity {
            color: $c-text !important;
            opacity: 0.4;
        }
        &__title-box {
            align-items: flex-end;
            padding-bottom: 4px;
        }
        &__subtitle {
            color: #fff;
            padding: 2px 7px;
            background-color: #0052b7;
            font-size: 14px !important;
            font-weight: 500;
            position: absolute;
            top: -2px;
            left: -2px;
            max-width: 90%;
        }
        &__title {
            display: block;
            font-size: 22px !important;
            position: relative;
            margin-right: 16px;
            @media (min-width: 750px) {
                font-size: 32px !important;
            }
        }
        &__item-cost {
            font-size: 11px !important;
            padding-bottom: 3px;
            @media screen and (max-width: 749.98px) {
                margin-left: auto;
            }
        }
        &__box {
            padding: 24px 0;
            width: 100%;
            display: flex;
        }
        &__select {
            height: 16px;
            width: 16px;
            position: absolute;
            top: 3px;
            left: -30px;
        }
        &__select-check {
            display: none;
        }
        &__select-uncheck {
            display: block;
        }
        &__price-wrapper {
            display: block;
            position: relative;
            > span {
                margin-top: 12px;
            }
            .price-item.price-item--regular {
                color: $c-text !important;
            }
            .price__sale,
            .price__regular {
                > span {
                    &:last-of-type {
                        opacity: 1 !important;
                    }
                }
            }
            .price__container {
                color: $c-text !important;
                letter-spacing: 2px !important;
                span {
                    font-size: 22px !important;
                    font-style: normal;
                    font-weight: 700 !important;
                    line-height: 120%; /* 42px */
                    @include media-breakpoint-down(md) {
                        font-size: 16px !important;
                    }
                }
            }
        }
        &__plan-price {
            font-weight: 700 !important;
        }
        &__regular-price {
            color: $c-text !important;
            opacity: 0.4;
            text-decoration: line-through;
            display: block;
            margin-right: 6px;
        }
        &__input {
            position: absolute;
            opacity: 0;
        }
        &__input:checked + label {
            background-color: $c-orange;
            .custom-recharge__select-check {
                display: block;
            }
            .custom-recharge__select-uncheck {
                display: none;
            }
            .custom-recharge__regular-price {
                color: #fff !important;
                opacity: 1;
            }
            .custom-recharge__text-bottom {
                color: #fff !important;
                opacity: 1;
            }
        }
        &__input:checked + label .custom-recharge__plans {
            height: auto;
            opacity: 1;
            padding-top: 50px;
            @media (max-width: 1099px) {
                padding-top: 24px;
            }
            label {
                @media (max-width: 1099px) {
                    height: auto !important;
                    margin-bottom: 12px !important;
                }
            }
        }
        &__plans {
            opacity: 0;
            padding-top: 0;
            justify-content: space-between;
            transition: 0.2s;
            @media (max-width: 1099px) {
                flex-wrap: wrap;
            }
            input {
                position: absolute;
                opacity: 0;
            }
            input:checked + label::before {
                content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzcwN18yOTg1KSI+CjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjExLjI1IiBzdHJva2U9IiM1RTZBNjkiIHN0cm9rZS13aWR0aD0iMS41Ii8+CjxwYXRoIGQ9Ik0xMiAxOUMxNS44NjYgMTkgMTkgMTUuODY2IDE5IDEyQzE5IDguMTM0MDEgMTUuODY2IDUgMTIgNUM4LjEzNDAxIDUgNSA4LjEzNDAxIDUgMTJDNSAxNS44NjYgOC4xMzQwMSAxOSAxMiAxOVoiIGZpbGw9IiM2MTc1NzMiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF83MDdfMjk4NSI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
            }
            label {
                padding-left: 37px;
                padding-right: 8px;
                position: relative;
                cursor: pointer;
                @media (max-width: 1099px) {
                    width: 100%;
                    height: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
                &::before {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTIuNSIgY3k9IjEyIiByPSIxMS4yNSIgc3Ryb2tlPSIjNUU2QTY5IiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K");
                }
            }
        }
        &__includes {
            width: 50%;
            border-left: solid 1px $c-orange;
            padding-left: 24px;
            display: block;

            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            > span {
                display: block;
            }
        }
    }
    .rc-container-wrapper.rc_container_wrapper {
        display: none !important;
    }
    //media
    .thumbnail-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: 10px;
        margin-bottom: 37px;
        grid-gap: 8px;
        &__item {
            flex: 0 0 80px;
        }
    }
    .product__custom-media {
        overflow: hidden;
        position: relative;
        > ul {
            padding: 0;
            margin: 0;
            @media (max-width: 750px) {
                margin-bottom: 32px;
            }
            li {
                height: auto !important;
            }
            .product__media.media {
                padding-top: 79.69% !important;
                height: auto !important;
                img {
                    // position: relative;
                    // max-height: 787px;
                    @media (max-width: 750px) {
                        position: absolute;
                    }
                }
            }
        }
    }
    .slider-buttons {
        display: none !important;
    }
    media-gallery {
        min-height: inherit !important;
        display: block;
        slider-component {
            display: block;
            height: 100%;
        }
    }
    .product-media-container.constrain-height .media {
        padding-top: 0 !important;
    }
    &__bottom-button-text {
        margin-bottom: 0;
        margin-top: 12px;
        font-size: 14px !important;
        @include media-breakpoint-down(md) {
            font-size: 12px !important;
        }
        svg {
            margin-right: 3px;
            width: 16px;
            height: 11px;
        }
    }
    &__html {
        max-width: 420px;
        margin-left: -22px;
        @media (max-width: 427px) {
            max-width: 230px;
        }
    }
    //Labels blocks
    &__labels {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            padding: 8px;
            border-radius: 8px;
            background-color: #fff;
            margin: 0;
            @media (max-width: 749.98px) {
                font-size: 14px !important;
            }
        }
    }
}
