@import "../settings/variables";
@import "../settings/bootstrap-media";

.customer {
    & button {
        transition: all .3s !important;
        &::after,
        &::before {
            display: none;
        }
    }
    .field {
        max-width: 680px;
        width: 100%;
        margin: 2rem auto;
        & input {
            padding: 1.5rem !important;
            height: 60px;
            &:focus {
                box-shadow: none;
            }
            &:focus ~ label {
                left: 50%;
                top: calc(var(--inputs-border-width) + 1rem);
                font-size: 1rem !important;
            }
            &:not(:placeholder-shown) ~ label {
                left: 50%;
                top: calc(var(--inputs-border-width) + 1rem);
            }
        }
        & label {
            color: #9D9D9D;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            border-radius: 3.75px !important;
        }
        &:hover .field::after {
            box-shadow: none;
        }
    }
    .address-country {
        margin-bottom: 10px;
        display: block;
    }
    .bottom__wrapper {
        display: flex;
        align-items: center;
        margin-top: 16px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
        & button {
            margin-top: 0px;
            width: 100%;
            @include media-breakpoint-down(md) {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
        }
    }
}