@use "../settings/variables" as *;
@use "../settings/bootstrap-media" as *;
@use "../settings/breakpoints" as *;

.shopify-section-header-sticky {
    padding-left: 35px;
    padding-right: 35px;
    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
    }
    // header.header {
    //     @include media-breakpoint-down(md) {
    //         padding: 10px !important;
    //     }
    // }
}
.header {
    &__login {
        text-decoration: none;
        color: $c-text;
        transition: 0.3s;
        margin-left: 20px;
        @include media-breakpoint-down(lg) {
            display: none !important;
        }
        &:hover {
            opacity: 0.4;
        }
    }
    &__icons {
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    &__cta-button {
        padding: 10px !important;
        min-height: 44px !important;
        min-width: 132px !important;
        font-size: 18px !important;
        @include media-breakpoint-down(lg) {
            min-width: fit-content !important;
            font-size: 15px !important;
        }
        @include media-breakpoint-down(md) {
            padding: 7px !important;
        }
    }
    &__heading-logo-wrapper {
        @include media-breakpoint-down(md) {
            width: 88px !important;
        }
    }
    .header__icon.header__icon--menu {
        text-decoration: none;
        font-size: 18px !important;
        margin-left: 1.2rem;
        transition: 0.3s;
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
        &:hover {
            @include media-breakpoint-up(lg) {
                opacity: 0.4;
            }
        }
    }
    &__menu-text {
        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }
    &__menu-icons {
        display: none !important;
        @include media-breakpoint-down(md) {
            display: flex !important;
        }
    }
    &__menu-close-icon {
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 30px;
        z-index: 2;
        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }
    #menu-drawer {
        transform: translate(0) !important;
        height: auto !important;
        border-radius: 5px !important;
        background: rgba(246, 244, 237, 0.60) !important;
        backdrop-filter: blur(12.5px);
        margin-top: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        @media (min-width: 767px) {
            margin-top: 25px;
            left: -13px;
        }
        @include media-breakpoint-down(md) {
            width: calc(100% - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .menu-drawer-container {
        @media (min-width: 767px) {
            position: relative;
        }
        &.menu-opening {
            .header__icon.header__icon--menu {
                @include media-breakpoint-up(lg) {
                    opacity: 0.4;
                }
            }
        }
    }
    .menu-drawer__navigation {
        padding: 30px 0 15px;
    }
    .menu-drawer__menu {
        li,
        a {
            font-size: 25px !important; 
            font-style: normal;
            font-weight: 500 !important;
            line-height: 120% !important;
            margin: 0 !important;
            @media (max-width: 1400px) {
                font-size: 24px !important;
            }
            @include media-breakpoint-down(md) {
                font-size: 20px !important;
            }
            &:hover,
            &:focus,
            &:focus-visible {
                background: transparent !important
            }
            
        }
        a {
            //transition: 0.3s;
            &:hover {
                opacity: 0.4;
            }
        }
    }
    .menu-drawer__account-li {
        display: none !important;
        @include media-breakpoint-down(lg) {
            display: block!important;
        }
        a {
            color: $c-gray !important;
            padding: 6px 11px !important;
            width: fit-content !important;
            min-height: fit-content !important;
            height:  fit-content !important;
            margin: 0 27px 12px 27px !important;
            min-width: fit-content !important;
            transition: 0s !important;
            &:hover {
                opacity:  1 !important;
                color: $c-gray !important;
                background-color: $c-text !important;
            }
            svg {
                margin-right: 8px;
                margin-top: -2px;
            }
        }
    }
    .menu-drawer__utility-links {
        display: none !important;
    }
    &__bottom-nav {
        padding: 0;
        margin: 0 25px 8px;
        list-style: none;
        display: none;
        @include media-breakpoint-down(md) {
            display: block !important;
        }
        li {
            margin-bottom: 8px;
            a {
                color: $c-text !important;
                text-decoration: none !important;
                line-height: 18px !important;
                font-size: 15px !important;
                font-weight: 500;
            }
        }
    }
}
.header__icon--menu[aria-expanded=true]:before {
    content: none !important;
}

