@import "../settings/variables";
@import "../settings/bootstrap-media";

.shopify-section-header-sticky {
    padding-left: 35px;
    padding-right: 35px;
    @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
    }
    header.header {
        @include media-breakpoint-down(md) {
            padding: 10px !important;
        }
    }
}
.header {
    &__login {
        text-decoration: none;
        color: $c-text;
        transition: 0.3s;
        margin-left: 20px;
        @include media-breakpoint-down(lg) {
            display: none !important;
        }
        &:hover {
            opacity: 0.4;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
    }
    &__cta-button {
        padding: 10px !important;
        min-height: 44px !important;
        min-width: 132px !important;
        @include media-breakpoint-down(lg) {
            min-width: fit-content !important;
        }
        @include media-breakpoint-down(md) {
            padding: 7px !important;
        }
    }
    &__heading-logo-wrapper {
        @include media-breakpoint-down(md) {
            width: 88px !important;
        }
    }
    #menu-drawer {
        transform: translate(0) !important;
        height: fit-content !important;
        border-radius: 5px !important;
        background: rgba(246, 244, 237, 0.60) !important;
        backdrop-filter: blur(12.5px) !important;
        margin-top: 10px;
    }
    .menu-drawer__menu {
        li,
        a {
            font-size: 25px !important; 
            font-style: normal;
            font-weight: 500 !important;
            line-height: 120% !important;
            @media (max-width: 1400px) {
                font-size: 24px !important;
            }
            @include media-breakpoint-down(md) {
                font-size: 20px !important;
            }
        }
    }
}
.header__icon--menu[aria-expanded=true]:before {
    content: none !important;
}