@use "../settings/variables" as *;
@use "../settings/bootstrap-media" as *;
@use "../settings/breakpoints" as *;

.history {
    &__title {
        text-align: center;
    }
    &__text {
        flex: 0 1 100%;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
    &-image {
        flex: 0 1 100%;
        text-align: center;
        padding-top: 60px;
        & p {
            margin-top: 0px;
            font-style: italic;
        }
    }
    &__container {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }
}