@use '../settings/config' as *;

.home-hero-v2 {
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(29, 29, 27, 0.40) 0%, rgba(29, 29, 27, 0.40) 100%);
        z-index: 1;
    }
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
    }
    picture {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        img {
            object-fit: cover;
            width: 100%;
            height: inherit;
        }
    }
    &__wrapper {
        min-height: 600px;
        z-index: 2;
        position: relative;
        height: 100svh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 115px !important;
        gap: 116px;
        @media (min-width: 1921px) {
            padding-bottom: 40px !important;
        }
        @media (max-width: 1440px) {
            gap: 82px;
            padding-bottom: 40px !important;
            padding-left: 50px !important;
            padding-right: 50px !important;
            margin-left: 0;
            margin-right: 0;
            min-width: 100%;
        }
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: end;
            align-items: baseline;
        }
        @include media-breakpoint-down(md) {
            min-height: 600px;
            height: 100svh;
        }
        @media (max-width: 989px) {
            gap: 28px;
        }
        @media (max-width: 459px) {
            padding-bottom: 51px !important;
            padding-left: 16px !important;
            padding-right: 16px !important;
        }
        h1 {
            text-align: left;
            color: $c-gray;
            max-width: 704px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 88px !important;
            // @media (max-width: 1199px) and (min-width: 990px) {
            //     padding-bottom: 20px;
            // }
            @media (max-width: 1132px) {
                font-size: 67px !important;
                line-height: 84px;
            }
            @media (max-width: 989px) {
                font-size: 48px !important;
                line-height: 48px;
            }
            @media (max-width: 595px) {
                font-size: 48px !important;
                line-height: 48px;
            }
        }
        .trustpilot-widget {
            width: fit-content;
            margin-left: -18px;
        }
        p {
            color: $c-gray;
            text-align: left;
            max-width: 554px;
            margin-bottom: 16px;
            margin-top: 12px;
            @include media-breakpoint-down(xl) {
                font-size: 20px !important;
                line-height: 24px;
            }
            @include media-breakpoint-down(sm) {
                font-weight: 15px !important;
            }
        }
    }
    &__button {
        margin-bottom: 45px;
        @media (max-width: 430px) {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        a {
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        .btn__animated {
            border: 1px solid #f6f4ed;
            color: #F6F4ED;
            padding: 20px 20px;
            border-radius: 4px;
            font-size: 15px;
            line-height: 18.5px;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: end;
            gap: 10px;
            justify-content: center;
            text-decoration: none;
            width: 311px;
            max-height: 58px;
            @media (max-width: 430px) {
                width: 100%;
            }
            svg {
                display: none;
                width: 0;
                height: 19px;
                opacity: 0;
                transition: all 0.6s;
            }
            &::after {
                content: '';
                display: block;
                height: 20px;
                width: 20px;
                background: #FFA842;
                border-radius: 50%;
                position: absolute;
                left: 28px;
                top: calc(50% - 10px);
                z-index: -1;
                transition: all 0.6s;
            }
            &:hover:after {
                transform: scale(40);
            }
            &:hover {
                transition: all 0.6s;
                color: #1D1D1B;
            }
            &:hover svg {
                transition: all 0.6s;
                display: block;
                width: 15px;
                opacity: 1;
            }
            &:active:after {
                background: #F39B19;
            }
        }
    }
}
