@use "../settings/variables" as *;
@use "../settings/bootstrap-media" as *;
@use "../settings/breakpoints" as *;

.list-logos {
    overflow: hidden;
    &__item {
        width: fit-content !important;
        img {
            max-height: 53px;
            width: auto;
            @include media-breakpoint-down(md) {
                max-height: 35px;
            }
        }
    }
}