@use "../settings/variables";
@use "../settings/bootstrap-media";

.research-team {
    &__header {
        h2 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 60px;
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
        }
    }
    &__wrapper {
        padding: 0px 8px;
        gap: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 118px;
        @include media-breakpoint-down(md) {
            margin-bottom: 110px;
            grid-template-columns: 1fr;
            padding: 0px 20px;
            gap: 20px;
        }
    }
    &__item {
        flex: 0 1 24%;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-down(md) {
            min-height: 463px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.2);
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            @include media-breakpoint-down(md) {
                ackground: rgba(0, 0, 0, 0.4);
                opacity: 1 !important;
                visibility: visible !important;
            }
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
                & img {
                    filter: blur(0.5rem);
                }
                .research-team__item-content {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        & img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: all .3s;
            @include media-breakpoint-down(md) {
                filter: none !important;
            }
        }
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 12px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            z-index: 2;
            @include media-breakpoint-down(md) {
                opacity: 1;
                visibility: visible;
            }
            .item-content {
                &__top {
                    .name {
                        margin: 0;
                        font-size: 35px !important;
                        line-height: 42px;
                        font-weight: 500;
                        color: $c-light-grey-2;
                        @include media-breakpoint-down(md) {
                            font-size: 25px !important;
                            line-height: 37px !important;
                        }
                    }
                    .position {
                        color: $c-light-grey-2;
                        margin: 0;
                        font-size: 20px !important;
                        line-height: 24px !important;
                        @include media-breakpoint-down(md) {
                            font-size: 15px !important;
                            line-height: 22px !important;
                        }
                    }
                }
                &__bottom {
                    display: flex;
                    flex-direction: column;
                    & a {
                        color: $c-light-grey-2;
                        font-size: 20px !important;
                        line-height: 24px !important;
                        @include media-breakpoint-down(md) {
                            font-size: 15px !important;
                            line-height: 21px !important;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &__button {
        @include media-breakpoint-down(md) {
            & a {
                width: 100%;
            }
        }
    }
}