.page__reviews {
    padding-left: 45px;
    padding-right: 45px;
    @media (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    .reviews__wrapper {
        h2 {
            font-size: 70px;
            line-height: 70px;
            font-weight: 400;
            margin-bottom: 24px;
            margin-top: 200px;
            font-family: var(--font-heading-family);
            // font-family: 'AetherMonoA', sans-serif;
            text-align: center;
            max-width: 65%;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 1440px) {
                font-size: 52px;
                line-height: 55px;
                margin-top: 128px;
                max-width: 100%;
            }
            @media (max-width: 768px) {
                font-size: 40px;
                line-height: 40px;
            }
        }
        p.subtitle {
            font-size: 20px !important;
            line-height: 24px;
            font-weight: 500;
            font-family: var(--font-body-family);
            text-align: center;
            margin: 0;
            @media (max-width: 768px) {
                font-size: 15px !important;
                line-height: 18px;
            }
        }
        img {
            margin: 0 auto;
            display: block;
            margin-bottom: 48px;
        }
        .swip__reviews {
            padding: 50px;
            @media (max-width: 768px) {
                padding: 0;
            }
            .reviews__container {
                align-items: stretch;
                justify-content: flex-start;
                align-items: stretch;
                article {
                    background: white;
                    text-align: center;
                    margin: 0;
                    height: 100%;
                    height: auto;
                    .card__inner {
                        padding: 27px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        height: calc(100% - 54px);
                        .card-count {
                            .slider-content--stars {
                                margin: 0;
                                svg {
                                    height: 23px;
                                    width: 23px;
                                    fill: #FFA72D;
                                    stroke: #FFA72D;
                                }
                            }
                        }
                        h4 {
                            font-size: 35px;
                            line-height: 35px;
                            font-weight: 400;
                            margin-bottom: 24px;
                            @media (max-width: 1440px) {
                                font-size: 24px;
                                line-height: 24px;
                            }
                        }
                        .card-content {
                            margin-bottom: 30px;
                            @media (max-width: 1440px) {
                                font-size: 18px !important;
                                line-height: 18px;
                            }
                        }
                        .card-name {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: auto;
                            span {
                                font-size: 24px !important;
                                line-height: 28px;
                                font-weight: 500;
                                @media (max-width: 768px) {
                                    font-size: 16px !important;
                                    line-height: 19px;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-prev {
                background: #F6F4ED;
                top: 0;
                bottom: 0;
                width: 50px;
                right: 0;
                height: 100%;
                left: 0;
            }
            .swiper-button-prev:after {
                display: none;
            }
            .swiper-button-next {
                background: #F6F4ED;
                top: 0;
                bottom: 0;
                width: 50px;
                right: 0;
                height: 100%;
            }
            .swiper-button-next:after {
                display: none;
            }
            .swiper-button-next,
            .swiper-button-prev {
                svg {
                    width: 40px;
                    @media (max-width: 1440px) {
                        width: 32px;
                    }
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }                                   
        }
    }
}