@use "../settings/config" as *;

.sticky-section {
    position: -webkit-fixed;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-inline: 1.6rem;
    transition: opacity 0.3s ease;
    background-color: #f6f4ec99;
    backdrop-filter: blur(22px);
    box-shadow: 0px 1px 4px 0px #00000040;
    z-index: 10;
    @include media-breakpoint-up(lg) {
        width: max-content;
        left: 50%;
        bottom: 2rem;
        transform: translateX(-50%);
        padding-inline: 2.4rem;
        border-radius: 8px;
        box-shadow: 0px 1px 4px 0px #00000040;
    }
    * {
        letter-spacing: 0.3px;
    }

    &__img {
        display: flex;
        @include media-breakpoint-down(lg) {
            display: none;
        }
        img {
            height: 7rem;
            width: 7rem;
            object-fit: cover;
        }
    }

    &__wrapper {
        row-gap: 1.6rem;
        @include media-breakpoint-up(lg) {
            gap: .6rem;
            row-gap: 0;
        }
    }

    &__text-bottom {
        @include media-breakpoint-down(lg) {
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: "|";
                width: 1px;
                margin-right: 8px;
            }
        }
        @media (width < 395px) {
            &:before {
                display: none;
            }
        }
    }

    .desktop {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    .mobile {
        display: none;
        text-align: end;
        color: #54534e;
        max-width: 132px;
        @include media-breakpoint-down(lg) {
            display: block;
            p {
                font-size: 12px !important;
                margin: 0;
            }
        }
    }
    ul {
        padding: 0;
        margin: 0;
    }
    ul li {
        font-weight: 400;
        list-style: none;
        position: relative;
        color: #54534e;
    }

    ul li::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 11px;
        background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 9"%3E%3Cpath fill="%2354534E" fill-rule="evenodd" d="M11.35.643a.5.5 0 0 1 .006.707l-6.77 6.886a.5.5 0 0 1-.719-.006L.638 4.845a.5.5 0 1 1 .724-.69l2.872 3.011 6.41-6.517a.5.5 0 0 1 .707-.006z" clip-rule="evenodd"/%3E%3C/svg%3E')
            no-repeat center center;
        background-size: contain;
        margin-right: 6px;
    }

    form {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .btn.btn__primary {
        cursor: pointer;
        background-color: rgb(var(--custom-color-primary)) !important;
        color: rgb(var(--custom-color-text)) !important;
        border: none;
        min-width: 275px;
        font-size: 14px !important;
        &:hover {
            background-color: rgb(var(--custom-color-button-hover)) !important;
        }
        @include media-breakpoint-down(lg) {
            width: 100%;
            min-height: 54px;
        }
    }

    .custom-recharge__subscribe-price {
        @include media-breakpoint-down(lg) {
            display: flex;
        }
        @media (width < 395px) {
            flex-direction: column;
            &:before {
                display: none;
            }
        }
    }

    .custom-recharge__regular-price {
        font-size: 20px !important;
        font-weight: 500;
        color: rgb(var(--custom-color-text)) !important;
        opacity: 0.4;
        text-decoration: line-through;
        display: block;
        margin-right: 6px;
        @include media-breakpoint-up(lg) {
            font-size: 32px !important;
        }
    }
    .custom-recharge__plan-price {
        font-size: 32px !important;
        font-weight: 700;
        @include media-breakpoint-down(lg) {
            margin-right: 1.4rem;
            font-size: 20px !important;
        }
    }
}
