@use "../settings/config" as *;

.icon-blocks {
    &__wrapper {
        gap: 2rem;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: 5.5rem;
        }
    }

    &__header {
        width: 50%;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        h2 {
            margin: 0;
            margin-bottom: 3.2rem;
        }
        .text-20px {
            margin-bottom: 9.7rem;
            @include media-breakpoint-down(md) {
                margin-bottom: 4.5rem;
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        height: 32.6rem;
        max-width: 100%;
        @include media-breakpoint-down(md) {
            height: 15.5rem;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    &__wrapper-blocks {
        width: 50%;
        gap: 1.6rem;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        h4 {
            margin: 0;
            font-size: 24px;
            line-height: 36px;
            @include media-breakpoint-down(md) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .btn.btn__primary {
            margin-top: 4rem;
            margin-inline: auto;
            border-radius: 3.75px;
            @include media-breakpoint-down(md) {
                margin-top: 3.2rem;
            }
        }
    }

    &__content {
        gap: 1.6rem;
    }

    &__item {
        display: flex;
        img {
            height: 8rem;
            width: 8rem;
            object-fit: contain;
            border-radius: 0.8rem;
        }
    }

    &__item + div {
        gap: 0.6rem;
        p {
            font-size: 15px !important;
            font-weight: 400;
            margin: 0;
            @include media-breakpoint-down(md) {
                font-size: 14px !important;
            }
        }
    }
}
