@import "../settings/variables";
@import "../settings/bootstrap-media";

.title-and-list {
    &__wrapper {
        display: flex;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }
    &__left,
    &__right {
        padding: 0 15px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down(lg) {
            width: 100%;
            padding: 0 ;
        }
    }
    &__right {
        @include media-breakpoint-down(lg) {
            margin-top: 41px;
        }
    }
    h2 {
        text-align: center;
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
        li {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(lg) {
                margin-bottom: 16px;
            }
        }
        svg {
            min-width: 26px !important;
            width: 26px !important;
            height: 19px !important;
            @media (max-width: 1400px) {
                min-width: 22px !important;
                width: 22px !important;
                height: 16px !important;
            }
        }
        span {
            display: block;
            margin-left: 15px;
        }
    }
}